*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}

h2{
    font-weight: 500;
    text-align: center;
}
#movieapp_header{
    background-color: #FDA769;
    padding-left: 6px;
    padding-right: 6px;
}
.header_nav_list{
    display: inline-block;
}
.header_nav_link{
    text-decoration: none;
    padding: 6px;
    text-align: center;
    color:#FFF7E9;
}
.header_nav_link:hover{
    color:#D61355;
}
#login_link{
    color:#D61355;
    border-radius: 3px;
    background-color: #FFF7E9;
    padding-top: 0px;
    padding-bottom: 0px;

}
#login_link:hover{
    color: #FFF7E9;
    background-color: #D61355;
}
#header_link{
    text-decoration: none;
    color: #FFF7E9;
}
#header_link:hover{
    
    color:#D61355
}
#header_nav{
    display: inline-block;
    width: calc(100% - 75px);
    text-align: right;
}

#background{
    background-image: linear-gradient(to bottom,rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)), url("images/bg.jpeg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
#background_texts h1,h3{
    margin: 0px;
    font-size: larger;
    font-weight: lighter;
}
#background_texts{
    color: #FFF7E9;
    background-color: #00386556;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info_howitworks{
    width: 33.3%;
    padding: 75px;
    float: left;
    height: 50vh;
    text-align: center;
}
.material_symbols_p{
    font-size: larger;
    font-weight: 500;
}
.material-symbols-outlined{
    color: #FDA769;
}

#features{
    border: 1px solid #FDA769;
}

#features_photo{
    width: 50%;
    float: left;
    background-image: linear-gradient(to bottom,rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)), url("images/features.jpeg");
    height: 35vh;
    background-position: top;
    background-size: cover;
    
}

#features_text{
    width: 50%;
    float: right;
    background-color: #EDF5F7;
    height: 35vh;
    
}

.plan{
    float: left;
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 0 6px;
    /* marginle yapmak yerine inner plan ile boşlukları verebilirsin */
    border-radius: 10px;
    background-color:#FDA769;
  
}
#plan2{
    position: relative;
    bottom: 12px;
}

.plan_lists{
    text-align: center;
    list-style-type: circle;
    margin: 0px;
    padding: 0px;
    
}

#title_badge{
    background-color:#D61355;
    border-radius: 5px;
    color: #FFD4D4;
    width: 250px;
    text-align: center;
    position: relative;
    left:25px;
}

.movie_cards{
    background-color:#FFF7E9;
    height: 75vh;
    width: 32%;
    float: left;
    margin: 4px;
}

.movie_cards:hover{
    position: relative;
    top: 10px;
    transition-duration: 4s;
}

.movie_cards img{
    height: 55vh;
    width: 100%;
}

.movie_cards p{
    text-align: center;
    font-size: small;
}

.movie_cards h2{
    color: #FDA769;
}

#movieapp_footer{
    background-color: #FDA769;
    height: 9vh;
}

.footer_list{
    display: inline-block;
}

#footer_lists{
    margin-top: 20px;
    position: relative;
    top: 20px;
}

.footer_link{
    text-decoration: none;
    color: #D61355;
    padding: 4px;
    
}

.footer_link:hover{
    color:#EDF5F7;
}

#fa_contact_lists{
    text-align: right;
    padding-right: 40px;
}

.fa_contact_list{
    display: inline-block;
}

footer ul{
    margin: 0px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 1000px;
    
}

#backtotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: larger;
    color: #D61355;
}

#backtotop:hover{
    opacity: 0.6;
}